<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Sports</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
	<h1>Add sport</h1>
	<div>		
		<form th:object="${sport}" th:action="@{save}" action="#" method="post">
		  	<label for="team">Team</label>
			<input class="form-control" type="text" id="team" th:field="*{team}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="result">Country</label>
			<input class="form-control" type="text" id="country" th:field="*{country}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="win">Win</label>
			<input class="form-control" type="text" th:field="*{win}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="lose">Lose</label>
			<input class="form-control" type="text" th:field="*{lose}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="categorylist">Category</label>
			 <select id="categorylist" th:field="*{sportcategory}" class="form-control">
       			<option th:each="sportcategory: ${sportcategory}" th:value="${sportcategory.sportcatid}" th:text="${sportcategory.name}"></option>
    		</select>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			
			
			<input type="submit" class="btn btn-success" value="Save"></input>
			
			
		</form>
	</div>
</body>
</html>